extends layout

block content
  .row
    .large-12.columns
      .row
        each book in books
        .large-3.small-6.columns
          img(src='http://covers.openlibrary.org/b/isbn/#{book.ISBN}-M.jpg')
          h6.panel book.title